.content{
   background-color: #f5f5f5;
   width: 100%;
   min-width:1170px;
   padding-bottom: 80px;
}
.content_container{
   width: 1170px;
   margin:0 auto;
   padding-top: 28px;
}
.right_content{
   width: 870px;
   float: right;
   background-color: #fff;
   -webkit-box-shadow: 0px 2px 3px #b3b3b3;
   box-shadow: 0px 2px 3px #b3b3b3;
   border: 1px solid #e2e2e2;
   border-radius: 3px;
   padding-bottom: 60px;
}
.right_content h3{
   line-height: 21px;
   font-size: 18px;
   text-indent: 15px;
   border-left: 4px solid #f27f00;
   color: #f27f00;
   margin-top: 23px;
   margin-left: 70px;
}
.right_content h3 a{
   margin-left: 40px;
   color: #999;
}
.right_content h3 a:hover{
   color: #f27f00;
   text-shadow: 0px 0px 1px #f07000;
}
.right_content>div{
   position: relative;
   border-top: 1px solid #d2d2d2;
   width: 730px;
   margin:0 auto;
   margin-top: 21px;
}
.left_menu .menu_on .menu_down_list{
   display: block;
}
.left_menu .menu_on .list_title h4 {
   color: #f27f00;
}
.left_menu .menu_on .list_title span{
   color: #f27f00;
}
.left_menu .menu_list .active a{
   background-color: #f27f00;
   color: #fff;
}
/*-*-*-*-*-*-*-*-*  -*- 左侧导航菜单 -*-  *-*-*-*-*-*-*-*-*/
.content_container .left_menu{
   width: 270px;
   float: left;
}
.content_container .menu_title{
   position: relative;
   line-height: 50px;
   -webkit-box-shadow: 0px 2px 3px #b3b3b3;
   box-shadow: 0px 2px 3px #b3b3b3;
   border: 1px solid #e2e2e2;
   border-radius: 3px;
   overflow: hidden;
   margin-bottom:4px;
   background: -moz-linear-gradient(left, #ECECEC, #fff,#fff,#fff,#ECECEC);
   background: -ms-linear-gradient(left, #ECECEC, #fff,#fff,#fff,#ECECEC);
   background: -webkit-linear-gradient(left, #ECECEC, #fff,#fff,#fff,#ECECEC);
   background-color: #fff\0/;
}
.content_container .menu_title .title_icon{
   float: left;
   margin-top: 5px;
   margin-left: 64px;
   margin-right: 8px;
}
.content_container .menu_title h2 a{
   float: left;
   color: #f27f00;
   font-size: 20px;
   line-height: 50px;
}
.content_container .menu_title .title_icon img{
   position: absolute;
   left: 64px;
   top: 15px;
}
.content_container .left_menu .menu_title_on{
   color: #f27f00;
   text-indent: 24px;
}
.content_container .left_menu .menu_title_off a{
   color: #333333;
   text-indent: 24px;
}

.left_menu .menu_list{
   -webkit-box-shadow: 0px 2px 3px #b3b3b3;
   box-shadow: 0px 2px 3px #b3b3b3;
   border: 1px solid #e2e2e2;
   border-radius: 3px;
}
.left_menu .menu_list>li{
   background-color: #fff;
   border-top: 3px solid #f8f8f8;
   overflow: hidden;
}
.left_menu .list_title{
   display: block;
   overflow: hidden;
   color: #999;
   width: 100%;
   max-width: 270px;
   padding: 0;
   border: 0;
   margin: 0;
   padding-left: 64px;
   border-radius: 3px;
   letter-spacing: 2px;
   text-transform: uppercase;
}
.left_menu .list_title:hover{
   background-color: #f27f00;
   color: #fff;
}
.left_menu .list_title .list_title_icon{
   float: left;
   margin-right: 10px;
   position: relative;
}
.left_menu .list_title .list_title_icon img{
   position: absolute;
}
.left_menu .list_title .list_title_icon .icon_b{
   z-index: 9999;
}
.left_menu .list_title .list_title_icon .icon_c{
   z-index: -1;
}
.left_menu .list_title .list_title_icon img{
   margin-top: 15px;
}
.left_menu .list_title h4{
   float: left;
   font-size: 20px;
   color: #333;
   line-height: 50px;
   margin-left: 32px;
   margin-right: 8px;
}
.left_menu .list_title span{
   float: left;
   line-height: 50px;
   font-size: 14px;
}
.left_menu .menu_down_list{
   clear: both;
   display: none;
}
.left_menu .menu_down_list li{
   border-top: 2px solid #f8f8f8;
   text-align: center;
   line-height: 50px;
   overflow: hidden;
}
.left_menu .menu_down_list li a{
   display: block;
   color: #999999;
   font-size: 16px;
   width: 100%;
   border-radius: 3px;
   max-width: 270px;
   padding: 0;
   border: 0;
   margin: 0;
   letter-spacing: 2px;
   text-transform: uppercase;
}
.left_menu .menu_down_list li a:hover{
   background-color: #f27f00;
   color: #fff;
   animation: titlefadein 0.3s forwards alternate;
   -moz-animation: titlefadein 0.3s forwards alternate;
   /* Firefox */
   -webkit-animation: titlefadein 0.3s forwards alternate;
   /* Safari and Chrome */
   -o-animation: titlefadein 0.3s forwards alternate;
   /* Opera */
}

@-webkit-keyframes titlefadein {
   0% {
      color: #999;
      background-color: #fff;
   }
   100% {
      background-color: #f27f00;
      color: #fff;
   }
}
@keyframes titlefadein {
   0% {
      color: #999;
      background-color: #fff;
   }
   100% {
      background-color: #f27f00;
      color: #fff;
   }
}
@-webkit-keyframes addbtn {
   0% {
      top: 15px;
   }
   33% {
      top: 17px;
   }
   66% {
      top: 18px;
   }
   100% {
      top: 20px;
   }
}
@keyframes addbtn {
   0% {
      top: 15px;
   }
   33% {
      top: 17px;
   }
   66% {
      top: 18px;
   }
   100% {
      top: 20px;
   }
}